POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=global_learn
PGDATA=/var/lib/postgresql/18/docker

REDIS_IP=localhost
REDIS_PORT=6379

PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5434/global_learn

JWT_ACCESS_SECRET=change-me-access-secret-min-16-chars
JWT_REFRESH_SECRET=change-me-refresh-secret-min-16-chars
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=2592000

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=no-reply@globallearn.com

MINIO_ENDPOINT=http://localhost:9000
# Access Key в интерфейсе MinIO
MINIO_ROOT_USER=admin@example.com
# Secret Key в интерфейсе MinIO
MINIO_ROOT_PASSWORD=asdfjklasdf
# Название бакета
MINIO_BUCKET_NAME=lms-bucket
MINIO_REGION=us-east-1

TEST_ADMIN_EMAIL=admin@example.com
TEST_ADMIN_PASSWORD=asdfjkl
TEST_EMPLOYEE_EMAIL=employee@example.com
TEST_EMPLOYEE_PASSWORD=asdfjkl